* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.main {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, .1) url(./software.jpg);
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
}

form input {
    height: 2.5rem;
    width: 30%;
    border: 1px solid #304352;
    border-radius: .5rem;
    outline: none;
    padding: 0 .5rem;

}

form button {
    padding: .5rem 4rem;
    border: 1px solid #304352;
    border-radius: .3rem;
    font-weight: 900;
    cursor: pointer;
}

.container {
    width: 80%;
    margin: auto;
    /* background-color: aqua; */
    height: auto;
    margin-top: 20px;
}

.container form {
    text-align: center;
}

.card-main-container {
    display: flex;
    flex-wrap: wrap;

}

.card-main-container .cards-container {
    background: linear-gradient(50deg, #304352, #d7d2cc);
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    /* doubts */
}

.card-main-container .cards-container .card {
    text-align: center;
    display: flex;
    flex-direction: column;

}

.card-main-container .cards-container .card .allItems .task {
    color: #eef2f3;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.2rem;
    background: linear-gradient(6deg, #304352, #d7d2cc);
    margin: 1rem;
    border-radius: .3rem;
    cursor: pointer;
}

.card-main-container .cards-container .card .item {
    font-size: 1rem;
    text-align: start;
    /* text-transform: uppercase; */
    font-weight: 900;
    font-family: 'Fredoka', sans-serif;
    letter-spacing: 2px;
    color: #eef2f3;
}

.card-main-container .cards-container .card input {
    height: 2rem;
    border: 1px solid #304352;
    outline: none;
    padding: 0 .5rem;
    border-radius: .3rem;

}

.card-main-container .cards-container .card .add-btn {
    margin: 1rem 0;
    font-weight: 900;
    cursor: pointer;
}

.card-main-container .cards-container .card button {
    border: 1px solid #304352;
    padding: .3rem 2rem;
    border-radius: .3rem;
    font-weight: 900;
    cursor: pointer;
}







.popUpContainer {
    width: 50%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background-color: white;
    font-family: 'Fredoka', sans-serif;
    border-radius: 1rem;
    display: none;
    height: auto;

}


.popUpContainer header {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.popUpContainer header h3 {
    letter-spacing: 1px;
    font-weight: bold;

}

.popUpContainer header #closeBtn {
    /* background-color: violet; */
    font-weight: 900;
    font-size: 2rem;
    cursor: pointer;

}


.h3 {
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    font-size: 1.3rem;
    /* width: 17%; */
}

h3 .textarea {
    border: 1px solid rgb(59, 56, 56);
    font-family: 'Fredoka', sans-serif;
    height: 5rem;
    outline: none;
    width: 100%;
    border-radius: .5rem;
    margin-top: 1rem;
}

.descriptionText {
    margin: 1rem 0;
}

.textarea {
    padding: .5rem;
    font-family: 'Fredoka', sans-serif;
    width: 100%;
    outline: none;
    border: 1px solid rgb(117, 112, 112);
    font-size: 1.2rem;
    border-radius: 5px;
    height: 5rem;
    display: flex;


}

.textarea::placeholder {
    font-family: 'Fredoka', sans-serif;
    font-size: 1rem;
    font-weight: 900;

}

.popUpContainer .descriptionBtn {
    display: flex;
    margin-top: 1rem;
}

.popUpContainer .descriptionBtn button {
    margin: 0 .5rem;
}

.popUpContainer #saveDescription, #closeDescription, #edit {
    font-family: 'Fredoka', sans-serif;
    color: rgb(43, 38, 38);
    padding: .3rem 2rem;
    font-weight: 900;
    letter-spacing: 1.5px;
    border: 1px solid rgb(66, 65, 65);
    border-radius: .2rem;
}

.popUpContainer #edit {
    display: none;
}


.popUpContainer .popUp h3 #icon {
    font-size: 2rem;
    font-weight: 900;
    /* color: red; */
    margin-right: .7rem;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    display: none;
}


.comments {
    margin-top: 2rem;
}

.comments input {
    width: 100%;
    height: 2.5rem;
    border: 1px solid rgb(43, 43, 44);
    padding: 0 10px;
    cursor: pointer;
}

.comments h3 {
    margin-bottom: 1rem;
}

.comments a {
    font-size: .8rem;

}

.commentInput {
    border-radius: .2rem;
    margin-bottom: 1rem;
}

.commentSave {
    margin-bottom: 1rem;
}

.commentDetails {
    border-radius: .2rem;
    margin: .5rem 0;
}

.pop {
    background-color: aqua;
    position: absolute;
    width: 100%;
    height: 50vh;
    display: block;
}